body{
    background-color: blueviolet;
    background-image: url("https://opengameart.org/sites/default/files/bg_02_h.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.score-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background: #444;
  }

h1{
    color: antiquewhite;
    text-align: center;
}